@import url('https://fonts.googleapis.com/css2?family=Heebo&family=Roboto+Condensed&family=Titillium+Web&display=swap');

/*
h1 == >font-family: 'Roboto Condensed', sans-serif;
h3 ==> font-family: 'Titillium Web', sans-serif;
p ==> font-family: 'Heebo', sans-serif;
*/

body{
  margin: 0;
}

.container {
    width: 550px;
    margin: 0 auto;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 + h3 {
  font-family: 'Titillium Web', sans-serif;
}

.text-center {
  text-align: center;
  justify-content: center;
}

.card-white {
  background: rgba(255, 255, 255, 0.8);
  padding: 30px;
  border: 1px solid lightgrey;
  margin: 20px;
  border-radius: 20px;
  box-shadow: 2px 5px 10px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
  color: black;
}

#monetisation {
  font-size: 3px;
}

.img-circle {
  border-radius: 50%;
}

.img-border {
  border-radius: 20px;
}

.img-black {
  filter: grayscale(100%)
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  list-style: none;
  padding-left: 0px;
}

.list-without-style {
  list-style: none;
  padding-left: 0px;
}

.bg {
  background-image: url("images/ping_pong_wallpaper.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;;
}

@media (max-width: 960px) {
  /* Pour un écran < 960px, cette classe CSS s'applique */
  .container {
    width: 700px;
  }
}

@media (max-width: 720px) {
  /* Pour un écran < 720px, cette classe CSS s'applique */
  .container {
    width: 500px;
  }
}

@media (max-width: 540px) {
  /* Pour un écran < 540px, cette classe CSS s'applique */
  .container {
    width: 300px;
  }
}
